body {
	text-align : center;
	font-size : 16px;
}
.input {
	margin : 80px auto;
}

#search-input {
	width : 500px;
	height : 40px;
}

#search-button {
	-webkit-appearance : button;
	width : 100px;
	height : 40px;
	color : blue;
}